main,footer{
    background-color: black;
    color: white;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 40px;
}
main{
    position: sticky;
    top: 0px;
}
footer{
    position: sticky;
    bottom: 0px;
}
body{
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 100px;
}
a{
    color: white;
    text-decoration: none;
    text-align: center;
    width: 25%;
}
p{
    font-size: 40px;
}
img{
    width: 98%;
    height: 1200px;
    border: 2px solid black;
}